# General Properties
TZ=""
LOG_DIR=""
LOG_LEVEL=""

# DynamoDB Tables
MESSAGING_PLATFORM_TABLE=""

# AWS Properties
AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
COGNITO_USER_POOL_ID=""
COGNITO_APP_CLIENT_ID=""

# Redis (ElastiCache)
REDIS_HOST=""
REDIS_PORT="6379"
