# General Properties
TZ=""
LOG_DIR=""
LOG_LEVEL=""

# DynamoDB Tables
GAME_CARD_LOOKUP_TABLE=""
TCG_MARKETPLACE_TABLE=""
USER_PROFILE_TABLE=""

# AWS Properties
AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET=""
CDN_URL=""
COGNITO_USER_POOL_ID=""
COGNITO_APP_CLIENT_ID=""
